USE [master]
GO
/****** Object:  Database [REGIONS]    Script Date: 1/07/2024 08:20:50 ******/
CREATE DATABASE [REGIONS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'REGIONS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\REGIONS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'REGIONS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\REGIONS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [REGIONS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [REGIONS]
GO
/****** Object:  Table [dbo].[REGIONES]    Script Date: 1/07/2024 08:20:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REGIONES](
	[RegionId] [int] IDENTITY(1,1) NOT NULL,
	[RegionName] [nvarchar](100) NOT NULL,
	[Enabled] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RegionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[REGIONES] ON 

INSERT [dbo].[REGIONES] ([RegionId], [RegionName], [Enabled]) VALUES (1, N'Beta', 0)
INSERT [dbo].[REGIONES] ([RegionId], [RegionName], [Enabled]) VALUES (2, N'Darwin', 0)
INSERT [dbo].[REGIONES] ([RegionId], [RegionName], [Enabled]) VALUES (3, N'Omega', 1)
SET IDENTITY_INSERT [dbo].[REGIONES] OFF
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateRegion]    Script Date: 1/07/2024 08:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-----------------
Create Procedure [dbo].[sp_CreateRegion]
@RegionName nvarchar(100),
@Enabled bit
AS
BEGIN
Insert Into REGIONES (RegionName,REGIONES.Enabled)
Values (@RegionName, @Enabled)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteRegion]    Script Date: 1/07/2024 08:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
------------------
Create Procedure [dbo].[sp_DeleteRegion]
@RegionId int
AS
BEGIN
Update REGIONES
Set Enabled = 0
Where RegionId = @RegionId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ReadRegions]    Script Date: 1/07/2024 08:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[sp_ReadRegions]
AS
BEGIN
Select RegionId, RegionName, Enabled
From REGIONES
Where Enabled = 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateRegion]    Script Date: 1/07/2024 08:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
------------------
Create Procedure [dbo].[sp_UpdateRegion]
@RegionId int,
@RegionName nvarchar(100),
@Enabled bit
AS
BEGIN
Update REGIONES
Set RegionName = @RegionName, Enabled = @Enabled
Where RegionId = @RegionId
END
GO
USE [master]
GO
